.app {
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.lengths {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.icons {
  display: flex;
  margin: 0 auto;
  width: min-content;
  margin-top: 10px;

  * {
    margin-left: 5px;
    font-size: 1.1rem;
  }
}
